{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            dressCode
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styleaddons.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="shortcut icon" href="{% static 'logo_icon.ico' %}">
</head>

<body>
<nav style="background: rgb(117,82,157);
background: linear-gradient(122deg, rgba(117,82,157,1) 0%, rgba(167,53,140,1) 100%);"
     class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img class="d-xs-block d-sm-block d-md-none d-lg-none d-xl-none ml-3" style="height: 50px" src="{% static 'dressCODE_mobile.png' %}">
            <img class="d-none d-sm-none d-md-block d-lg-block d-xl-block w-50" src="{% static 'dressCODE_Final.png' %}">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'news' %}">News</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'meet_your_hero' %}">Role
                    Model</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'videos' %}">Videos</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'play' %}">Game</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'admin_site' %}">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page lanidng-page">
    {% block main %}

    {% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="https://dresscode.org.uk/">About DressCode</a><a
                href="https://dresscode.org.uk/get-with-the-program/">Contact us</a><a
                href="https://dresscode.org.uk/what-we-do/">What we do</a></div>
        <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                class="icon ion-social-instagram-outline"></i></a><a href="#"><i
                class="icon ion-social-twitter"></i></a></div>
    </div>
    <img src="{% static 'dressCODE_Final_black.png'%}" style="width: 120px; margin: -5px 0px 20px 0px;">
</footer>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>