{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Meet your HERO!
{% endblock %}

{% block main %}
    <div class="text-center margin-top-50 mb-3">
        <h2 class="text-info">Ask your future self!</h2>
        <h5 class="text-dark mt-4">Tell us a bit more about you, where you come from, your tech aspirations and what do you look forward to in the future.</h5>
        <h5 class="text-dark mt-4 container">We will then match you with one of our experts from our network that has had a similar upbringing as you. You will then be able to ask them questions, learn about their story and use it as a blueprint to create yours!</h5>
        <p class="text-dark mt-4 container">Share your story here:</p>
        <p class="text-dark mt-4 container"><textarea name="aboutperson" cols="60" rows="5"></textarea></p>
        <p class="text-dark mt-4 container">Email Address:</p>
        <p class="text-dark mt-4 container"><input type="email" name="emailaddress"></p>
        <p class="text-dark mt-4 container"><button type="button" class="btn btn-success">Submit</button></p>
        
        
    </div>

<div class="container margin-top-20" style="margin-bottom: 200px"></div>


{% endblock %}