{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Meet your HERO!
{% endblock %}

{% block main %}
    {% if message %}
        <div class="row justify-content-center">
            <div class="btn alert-success mt-0">{{ message }}</div>
        </div>
    {% endif %}
    <div class="text-center margin-top-50 mb-3">
        <h2 class="text-info dresscode-font">Ask your future self!</h2>
        <h5 class="text-dark mt-4 dresscode-font-italic">Tell us a bit more about you, where you come from, your tech aspirations and what do you look forward to in the future.</h5>
        <h5 class="text-dark mt-4 container">We will then match you with one of our experts from our network that has had a similar upbringing as you. You will then be able to ask them questions, learn about their story and use it as a blueprint to create yours!</h5>
        <form action = "{% url 'future_self' %}" method = "post">{% csrf_token %}
        <div class="form-group mt-4">
            <label for="id_story">Share your story here:</label>
            <textarea class="form-control container" id="id_story" name="story" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="id_email">Email address:</label>
            <input name="email" type="email" class="form-control container" id="id_email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll only share your email address with your future mentor.</small>
        </div>
        <p class="text-dark mt-4 container"><button type="submit" value="Submit"  class="btn btn-success">Submit</button></p>
        </form>
        
    </div>

<div class="container margin-top-20" style="margin-bottom: 200px"></div>


{% endblock %}