{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <style>
        .dresscode-button {
            color: #ed6a4c;
            background-color:transparent;
            border-color: #ed6a4c;
        }
        .dresscode-button:hover {
            color: #fff;
            background-color: #f9b123;
            border-color: #f9b123;
        }
        {#h2.text-info {#}
        {#    color: #1e7e34 !important;#}
        {#}#}
    </style>
    <section class="clean-block features">
        <div class="container">
            <div class="text-center margin-top-50 mb-5">
                <h2 class="text-info">Reasons to get into Computing Science?</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 mb-5">
                    <h4>Salary</h4>
                    <p>The average salary for Computer Science graduates in the UK varies between £42,500 to £72,500.
                    <a href="https://www.cwjobs.co.uk/salary-checker/average-computer-science-salary">Read more.</a></p>
                </div>
                <div class="col-md-5 mb-5">
                    <h4>Life-time Skills</h4>
                    <p>Skills like <b>problem solving</b>, <b>critical thinking</b> and <b>team-working</b> are very useful in society.</p>
                </div>
                <div class="col-md-5 mb-5">
                    <h4>Job Oportunities</h4>
                    <p>Based on LinkedIn there are more than <b>17,000</b> job positions only in the UK. <a href="https://www.linkedin.com/jobs/search/?geoId=101165590&keywords=information%20technology&location=United%20Kingdom">Read more.</a></p>
                </div>
                <div class="col-md-5 mb-5">
                    <h4>Used Everywhere</h4>
                    <p>Computer Science can be combined with any other profession. Finance, Arts, Biology, Agriculture...</p>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3>Not convinced?</h3>
                <a class="btn dresscode-button btn-lg" href="{% url 'meet_your_hero' %}">Click Here</a>
            </div>
        </div>
    </section>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}