{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    News
{% endblock %}

{% block main %}
    <div class="container margin-top-20">

{#    {% if news_articles %}#}
{#            {% for news in news_articles|dictsort:sort_by %}#}
                <div class="row margin-top-10">
                    <div class="col-md-4">
                        <div class="text-center">
                            <div>
{#                                <a href="{% url 'show_listing' news.id %}"><img id="myImg" src="{{listing.picture.url}}" class="photo-fit photo-fit-mobile round-edges" alt="item image"></a>#}
                                <a href="#"><img id="myImg" src="{{news.picture.url}}" class="photo-fit photo-fit-mobile round-edges" alt="item image"></a>
                            </div>
                        </div>
                    </div>
                    <div class="text-box text-box-mobile col-md-8">
                        <div class="row">
                            <span><strong>Title: </strong>{{news.title}}</span>
                        </div>
                        <div class="row">
                            <span><strong>Description: </strong>{{news.description}}</span>
                        </div>
                        <div class="row">
                            <span><strong>Date: </strong>{{news.date.date}}</span>
                        </div>
                    </div>
                </div>
{#        {% endfor %}#}
    </div>
{#    {% else %}#}
{#        There no news!#}
{#    {% endif %}#}
{% endblock %}