{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Videos
{% endblock %}

{% block main %}
     <div class="text-center margin-top-50 mb-3">
        <h2 class="text-info dresscode-font">Hit Play!</h2>
    </div>
    <br>
    <div class="container margin-top-20">

    {% if video_articles %}
           {% for video in video_articles %}
                <div class="row margin-top-10 justify-content-center">
                    <div class="text-box text-box-mobile col-md-8">
                        <div class="row">
                            <span><strong>Title: </strong>{{video.title}}</span>
                        </div>
                        <div class="row">
                            <span><strong>Description: </strong>{{video.description}}</span>
                        </div>
                        </br>
                        <div class="row justify-content-center">
                            <iframe id="{{ video.pk }}" width="700" height="300" src="{{video.url}}?enablejsapi=1" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    {% else %}
        There no videos!
    {% endif %}

{% endblock %}